/* ブラウザで設定されているスタイルのリセット・共通設定 */
/* 消さないでください */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body div{
  display:flex;
  height: 100vh;
}
.sidebar{
  width: 256px;
  flex-shrink:0;
  background-color:#f5f5f5 ;
  border-right: 1px #e0e0e0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header1{
 padding: 20px;
 border: 1px #e0e0e0; 
}

a{
  font-size: 1.25rem;
  font-weight: 600;
  color:#4f7cac ;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration:none;
}

main{
  flex: 1;
}

.header2{
  padding: 32px;
  border-bottom: 1px #e0e0e0;
  text-align: center;
}

.profile-icon{
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  font-size: 2.5rem;
  color: white;
}

h1{
  font-size: 1.5rem;
  font-weight: 600;
  color:#2f2f2f;
  margin-bottom: 8px;
}
h2{
  font-size: 1.125rem;
  color:#757575 ;
  margin-bottom: 24px;
}
.message {
  max-width: 672px;       /* 最大幅を672pxに */
  margin: 0 auto;          /* 上下0・左右autoで中央寄せ */
  padding: 32px;           /* 内側の余白を32pxに */
  color: #757575;          /* 文字色を#757575に */
}

.message p {
  margin-bottom: 16px
}
p,
ul,
li,
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}
/* スタイルのリセット終了 */

/* サイドバーとメインコンテンツを包むための要素のスタイルを書いてください */


/* サイドバーに関連するスタイルを書いてください */


/* メインコンテンツに関連するスタイルを書いてください */



